# Compiled binaries
data-engine/target/
gateway/gateway.exe
*.exe

# Data directory (downloaded dataset)
data/
data-engine/target/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Node
frontend/node_modules/
frontend/dist/

# OS files
.DS_Store
Thumbs.db

# Rust installer
rustup-init.exe
